{% extends 'base.html' %}
{% block content %}

<h3>Records Below</h3>
<!-- below is records html-->
<!-- creating table for it-->
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">SITE</th>
      <th scope="col">ACQ ID</th>
      <th scope="col">PLAZA CODE</th>
      <th scope="col">city</th>
    </tr>
  </thead>
  <tbody>
      {% if records %}
      {% for record in records %}
      <tr>
      <td>{{ record.site_name }}</td>
      <td>{{ record.ACQ_id }}</td>
      <td>{{ record.Plaza_Code }}</td>
      <td>{{ record.city }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    
  </tbody>
  </table>
<!-- end table -->

<!-- records html ends here -->

<br/>

{% endblock %}