{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">


<!-- login html start-->
<h1>LOGIN</h1>
<br/>
<form method="POST" action="{% url 'login_page' %}">
    {% csrf_token %}

    <form>
        <div class="mb-3">
          
          <input type="text" class="form-control" name="username", placeholder="secureit" required >
        </div>
        <div class="mb-3">
          
          <input type="password" class="form-control" name="password", placeholder="Securep@123" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">login</button>
      </form>

</form>

<!-- login html end-->

{% endblock %}
